<div class="row">
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "fullwidth title" %>
      <%= f.error_message_on :name %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :venue_hours %>
      <%= f.text_field :venue_hours, class: "fullwidth title" %>
      <%= f.error_message_on :venue_hours %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :store_code %>
      <%= f.text_field :store_code, class: "fullwidth title" %>
      <%= f.error_message_on :store_code %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :venue_rank %>
      <%= f.select :rank, ["sliver","gold", "platinum"], selected: @venue.rank, class: "fullwidth title" %>
      <%= f.error_message_on :rank %>
    </div>
  </div>

  <div class="four colums alpha">
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "fullwidth" %>
      <%= f.error_message_on :phone %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :website %>
      <%= f.text_field :website, class: "fullwidth title" %>
      <%= f.error_message_on :website %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :street_address %>
      <%= f.text_field :street_address, class: "fullwidth" %>
      <%= f.error_message_on :street_address %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, class: "fullwidth title" %>
      <%= f.error_message_on :city %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :country %>
      <%= f.text_field :country, class: "fullwidth title" %>
      <%= f.error_message_on :country %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, class: "fullwidth title" %>
      <%= f.error_message_on :state %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: "fullwidth title" %>
      <%= f.error_message_on :zip %>
    </div>
  </div>
  <div class="four colums alpha">
    <div class="field">
      <%= f.label :hidden %>
      <%= f.check_box :hidden, class: "fullwidth title" %>
      <%= f.error_message_on :hidden %>
    </div>
  </div>
  <div class="form-buttons filter-actions actions">
    <div class="field">
      <%= f.submit %>
    </div>
  </div>
</div>
