<% venues.each do | venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.address %></td>
    <td><%= venue.latitude %></td>
    <td><%= venue.longitude %></td>
  </tr>
<% end %>

<!--    <td><%= v.street_adress %></td>
    <td><%= v.zipcode %></td>
    <td><%= v.city %></td>
    <td><%= v.state %></td> -->