<h1>Locations</h1>
<div id="wrapper">
  <div id="venues-near-by" >
    <% @venues_near_by.try(:each) do |v| %>
      <h4><%= v.name %></h4>
      <p class="store-code"><%= v.store_code %></p>
      <p class="rank"><%= v.rank %></p>
      <p><%= v.address %></p>
      <p><%= v.phone %></p>
      <p><%= v.venue_hours %></p>
      <p><%= link_to v.website %></p>
      <p>Get Directions</p>
  <% end %>
  </div>
</div>

  

<input class="rank" type="checkbox" name="sliver">sliver<br>
<input class="rank" type="checkbox" name="gold">gold
<input class="rank" type="checkbox" name="platinum">platinum

<%= render partial: "map" %>

<form id="venues">
  <input type="text" name="zipcode">
  <input type="submit" value="search">
</form>


<script id="venues-template" type="text/x-handlebars-template">
  <div id="venues">
    {{#each this}}
      <h4>{{name}}</h4>
      <p class="store-code">{{store_code}}</p>
      <p class="rank">{{rank}}</p>
      <p>{{address}}</p>
      <p>{{phone}}</p>
      <p>{{hours}}</p>
      <p><a href={{website}}>Visit Store Website</a></p>
      <p>Get Directions</p>
    {{/each}}
  </div>
</script>
